<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yongjae</title>
  </head>
  <body>
    <div>asdfasdasf</div>
    <p id="test"></p>
    <div>asdfasdasf</div>
  </body>
  <script>
    fetch("http://localhost:3000/users")
      .then((res) => res.text())
      .then((data) => {
        document.getElementById("test").innerHTML = data;
      });
  </script>
</html>
